<div class="top">
  <h2 class="">
    <small>Staff</small>
  </h2>
</div>
<div class="card-header pt-3">
  <input
    type="search"
    name=""
    id=""
    class="ml-3 rounded px-2 py-1"
    placeholder="Search"
  />
  <button class="btn btn-light float-right">
    <i class="fa fa-plus mr-2" aria-hidden="true"></i> Add
  </button>
  <button class="btn btn-light float-right">
    <i class="fa fa-filter" aria-hidden="true"></i> Filter
  </button>
  <button class="btn btn-light float-right">
    <i class="fa fa-archive mr-2" aria-hidden="true"></i>
    Archive
  </button>
</div>
<div class="card mb-3">
  <table class="table table-striped">
    <thead class="bg-primary-color text-light">
      <tr>
        <th><input type="checkbox" /></th>
        <th>Name</th>
        <th>Email</th>
        <th>Time</th>
        <th>Date</th>
        <th>Status</th>
        <th>Assist Elders</th>
        <th><i class="fa fa-cog ml-3" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffList">
        <th><input type="checkbox" /></th>
        <th scope="row">{{ staff.first_name }} {{ staff.last_name }}</th>
        <td>{{ staff.email }}</td>
        <td>10:30</td>
        <td>01-27-2020</td>
        <td>Active</td>
        <td>Gloria Diaz</td>
        <td>
          <button class="btn bg-transparent">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="staffList.length == 0">
        <td colspan="13" class="text-center">No Record</td>
      </tr>
    </tbody>
  </table>
</div>
