<div class="top">
  <hr><h2 class="text-center">DOCTOR LIST
    <button class="btn btn-light float-right"
    (click)="open(content)" *ngIf="userRole == 0">
    <i class="fa fa-plus mr-2" aria-hidden="true" *ngIf="userRole == 0"></i> Add
  </button></h2><hr>
</div>
<div class="card mb-3">
  <table class="table table-striped">
    <thead class="bg-primary-color text-light">
      <tr>
        <th><input type="checkbox" /></th>
        <th>Name</th>
        <th>Contact Number</th>
        <th>Schedules</th>
        <th>Specialization</th>
        <th>Date Updated</th>
        <th *ngIf="userRole == 0">
          <i class="fa ml-3" aria-hidden="true"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i class="fa fa-filter" aria-hidden="true"></i>
        </td>
        <td>
          <input type="search" name="" id="" class="ml-3 rounded px-2 py-1"/>
          <button class="btn btn-light float-right">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <input type="search" name="" id="" class="ml-3 rounded px-2 py-1"/>
          <button class="btn btn-light float-right">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <input type="search" name="" id="" class="ml-3 rounded px-2 py-1"/>
          <button class="btn btn-light float-right">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <input type="search" name="" id="" class="ml-3 rounded px-2 py-1"/>
          <button class="btn btn-light float-right">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <input type="search" name="" id="" class="ml-3 rounded px-2 py-1"/>
          <button class="btn btn-light float-right">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </button>
        </td>
        <td *ngIf="userRole == 0">
          <button class="btn btn-info float-right mr-1">
            Export as PDF
          </button>
        </td>
      </tr>
      <tr *ngIf="doctorList.length == 0">
        <td class="text-center p-3" colspan="13">No Record</td>
      </tr>
      <tr *ngFor="let doctor of doctorList">
        <th><input type="checkbox" /></th>
        <th scope="row">{{ doctor.doc_name }}</th>
        <td>{{ doctor.contact_no }}</td>
        <td>{{ doctor.schedules }}</td>
        <td>{{ doctor.specialization }}</td>
        <td>{{ doctor.updated_at }}</td>
        <td *ngIf="userRole == 0">
          <button class="btn bg-transparent">
            <i class="fa fa-cog ml-3" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- add modal -->
<div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title text-center">Add Doctor</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="c('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <fieldset class="form-group">
        <label>Doctor Name</label>
        <input
          class="form-control"
          placeholder=""
          type="text"
          [(ngModel)]="doctor.doc_name"
        />
      </fieldset>
      <fieldset class="form-group">
        <label>Number</label>
        <input
          class="form-control"
          placeholder=""
          type="text"
          [(ngModel)]="doctor.contact_no"
        />
      </fieldset>

      <fieldset class="form-group">
        <label>Schedule</label>
        <input
          class="form-control"
          placeholder=""
          type="text"
          [(ngModel)]="doctor.schedules"
        />
      </fieldset>

      <fieldset class="form-group">
        <label>Specialization</label>
        <input
          class="form-control"
          placeholder=""
          type="text"
          [(ngModel)]="doctor.specialization"
        />
      </fieldset>

      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{
          alert.message
        }}</ngb-alert>
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="c('Close click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="addDoctor()">
        Add
      </button>
    </div>
  </ng-template>
</div>
