<div class="top">
  <h2 class="">
    <small>Guest Monitoring</small>
  </h2>
</div>
<div class="card-header pt-3">
  <input
    type="search"
    name=""
    id=""
    class="ml-3 rounded px-2 py-1"
    placeholder="Search"
  />
  <button class="btn btn-light float-right">
    <i class="fa fa-plus mr-2" aria-hidden="true"></i> Add
  </button>
  <button class="btn btn-light float-right">
    <i class="fa fa-filter" aria-hidden="true"></i> Filter
  </button>
  <button class="btn btn-light float-right">
    <i class="fa fa-archive mr-2" aria-hidden="true"></i>
    Archive
  </button>
</div>
<table class="table table-striped">
  <thead class="bg-primary-color text-light">
    <tr>
      <th><input type="checkbox" /></th>
      <th>#</th>
      <th>Guess Name</th>
      <th>Contact #</th>
      <th>Address</th>
      <th>Elders Visited</th>
      <th>Relationship</th>
      <th>Time-in</th>
      <th>Time-out</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let guest of guestList; let i = index">
      <th><input type="checkbox" /></th>
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ guest.guest_name }}</td>
      <td>{{ guest.contact_no }}</td>
      <td>{{ guest.address }}</td>
      <td></td>
      <td>{{ guest.relationship_description }}</td>
      <td>{{ guest.time_in }}</td>
      <td>{{ guest.time_out }}</td>
      <td>{{ guest.date_created }}</td>
    </tr>

    <tr *ngIf="guestList.length == 0">
      <td class="text-center p-3" colspan="13">No Record Found</td>
    </tr>
  </tbody>
</table>
