<div class="modal-body">
  <fieldset class="form-group ">
    <div class="d-flex justify-content-center flex-column align-items-center">
      <label>Time</label>
      <div>
        <ngb-timepicker [(ngModel)]="time" [meridian]="true"></ngb-timepicker>
      </div>
    </div>
  </fieldset>
  <hr />
  <fieldset>
    <label>Date</label>
    <div class="input-group datepicker-input">
      <input
        class="form-control"
        placeholder="Select Date"
        name="dp"
        [(ngModel)]="addDate"
        ngbDatepicker
        #d1="ngbDatepicker"
        readonly
      />
      <button class="input-group-addon" (click)="d1.toggle()" type="button">
        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
        <span class="fa fa-calendar"></span>
      </button>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label>Elder Name</label>
    <select class="form-control" [(ngModel)]="elderIndex">
      <option *ngFor="let elder of elderList; let i = index" [value]="i">
        {{ elder.first_name }} {{ elder.last_name }}</option
      >
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label>Medicine Name</label>
    <select class="form-control" [(ngModel)]="medIndex">
      <option *ngFor="let med of medList; let i = index" [value]="i">
        {{ med.medicine_name }}</option
      >
    </select>
  </fieldset>

  <fieldset class="form-group">
    <label>Quantity</label>
    <input
      class="form-control"
      placeholder=""
      type="number"
      [(ngModel)]="quantity"
    />
  </fieldset>

  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{
      alert.message
    }}</ngb-alert>
  </p>
</div>
