$topnav-background-color: #2D7DAC;

.color-dark-primary {
    color: #2D7DAC;
}

.image-icons {
    height: 160px;
    margin: 5px;
}

.bg-primary-color {
    background: $topnav-background-color;
}

.elder-img {
    width: 100px;
    height: 100px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.elder-name {
    margin-top: 110px;
}

.right-div {
    height: calc(100vh - 200px);
    overflow-y: auto;
}