<div [@routerTransition] class="bg-light">
  <div class="top p-3 d-flex justify-content-between">
    <div>
      <h2 class="text-custom-pink ">
        <small>Hello {{ userData?.nick_name }}!</small>
      </h2>
      <p><small>Have a nice day!</small></p>
    </div>
    <div class="text-center">
      <h2 class="color-dark-primary ">
        <small>{{ time | date: 'hh:mm:ss a' }}</small>
      </h2>
      <p>
        <small>{{ time | date: 'MMM dd yyyy' }}</small>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col col-xl-8 col-lg-12" *ngIf="userData.role != 2">
      <div class="card mb-3">
        <div class="card-header bg-primary-color text-light pt-3">
          <h5>Medicine Inventory Reports</h5>
        </div>
        <div class="card-header pt-3">
          <span>Medicine List</span>
          <input
            type="search"
            name=""
            id=""
            class="ml-3 rounded px-2 py-1"
            placeholder="Search"
          />
          <button class="btn btn-light float-right">
            <i class="fa fa-filter" aria-hidden="true"></i> Filter
          </button>

          <button class="btn btn-light float-right" (click)="open(content)">
            <i class="fa fa-plus mr-2" aria-hidden="true"></i> Add
          </button>
          <button class="btn btn-light float-right">
            <i class="fa fa-archive mr-2" aria-hidden="true"></i>
            Archive
          </button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><input type="checkbox" /></th>
              <th>#</th>
              <th>Medicine</th>
              <th>Quantity</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="medicineList.length == 0">
              <td colspan="13" class="text-center">No Record</td>
            </tr>
            <tr *ngFor="let medicine of medicineList; let i = index">
              <th><input type="checkbox" /></th>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ medicine.medicine_name }}</td>
              <td>{{ medicine.quantity }}</td>
              <td>{{ medicine.created_at }}</td>
              <td>
                <button class="btn bg-transparent">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col col-xl-8 col-lg-12" *ngIf="userData.role == 2">
      <div class="card mb-3">
        <div class="card-header bg-primary-color text-light pt-3">
          <h5>Tasks List</h5>
        </div>
        <div class="card-header pt-3">
          <span>Search</span>
          <input
            type="search"
            name=""
            id=""
            class="ml-3 rounded px-2 py-1"
            placeholder="Search"
          />
          <button class="btn btn-light float-right">
            <i class="fa fa-filter" aria-hidden="true"></i> Filter
          </button>

          <button class="btn btn-light float-right">
            <i class="fa fa-plus mr-2" aria-hidden="true"></i> Add
          </button>
          <button class="btn btn-light float-right">
            <i class="fa fa-archive mr-2" aria-hidden="true"></i>
            Archive
          </button>
        </div>
        <table class="table table-striped">
          <thead class="bg-primary-color text-light">
            <tr>
              <th><input type="checkbox" /></th>
              <th>Elder Name</th>
              <th>Medicine</th>
              <th>Qty</th>
              <th>Time</th>
              <th>Date</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="taskList.length == 0">
              <td colspan="13" class="text-center">No Record</td>
            </tr>
            <tr *ngFor="let task of taskList">
              <th><input type="checkbox" /></th>
              <th scope="row">{{ task.elder_name }}</th>
              <td>{{ task.medicine_description }}</td>
              <td>{{ task.qty }}</td>
              <td>{{ task.time }}</td>
              <td>{{ task.updated_at }}</td>
              <td
                [ngClass]="{
                  'text-primary': task.status == 'Done',
                  'text-warning': task.status == 'Pending',
                  'text-danger': task.status == 'Refused'
                }"
              >
                {{ task.status }}
              </td>
              <td>
                <app-task-dropdown [task]="task"></app-task-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col col-xl-4 col-lg-12" *ngIf="userData.role == 0">
      <div class="card mb-3">
        <div class="card-header bg-primary-color text-light pt-3">
          <h5>My Tasks ( Admin Only )</h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item bg-light">
            <input type="checkbox" name="" id="" class="mr-2" />
            Select All
            <button class="btn btn-light float-right">
              <i class="fa fa-archive" aria-hidden="true"></i>
            </button>
            <button class="btn btn-light float-right">
              <i class="fa fa-plus " aria-hidden="true"></i>
            </button>
          </li>
          <li class="list-group-item">
            <input type="checkbox" name="" id="" class="mr-2" />
            Checking Medicice Inventory Reports
          </li>
          <li class="list-group-item">
            <input type="checkbox" name="" id="" class="mr-2" />Print copies of
            medicine inventory
          </li>
        </ul>
      </div>
    </div>
    <div class="col col-xl-4 col-lg-12" *ngIf="userData.role != 0">
      <div class="card mb-3">
        <div class="card-header bg-primary-color text-light pt-3">
          <h5>Celebrant</h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item bg-ligh text-center color-dark-primary">
            February
          </li>
          <li class="list-group-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis amet
            commodi ipsum?
          </li>
          <li class="list-group-item">
            Print copies of Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Praesentium assumenda sunt provident.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-primary-color text-light p-3">
    Upcoming Events
  </div>
  <div class="app-calendar" *ngIf="calendarVisible">
    <full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev, today',
        center: 'title',
        right: 'next'
      }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
    ></full-calendar>
  </div>
</div>
<div class="form-group">
  <div class="input-group datepicker-input">
    <input
      class="form-control"
      placeholder="yyyy-mm-dd"
      name="dp"
      [(ngModel)]="model"
      ngbDatepicker
      #d="ngbDatepicker"
    />
    <button class="input-group-addon" (click)="d.toggle()" type="button">
      <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
      <span class="fa fa-calendar"></span>
    </button>
  </div>
</div>

<!-- Add Medicine modal -->

<div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title">Add Medicine</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="c('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <fieldset class="form-group">
        <label>Medicine Name</label>
        <input class="form-control" placeholder="" [(ngModel)]="medName" />
      </fieldset>
      <fieldset class="form-group">
        <label>Quantity</label>
        <input
          class="form-control"
          placeholder=""
          type="number"
          [(ngModel)]="quantity"
        />
      </fieldset>
      <fieldset class="form-group">
        <label>Date</label>
        <div class="form-group">
          <div class="input-group datepicker-input">
            <input
              class="form-control"
              placeholder="Select Date"
              name="dp"
              [(ngModel)]="dateCreated"
              ngbDatepicker
              #d="ngbDatepicker"
              readonly
            />
            <button
              class="input-group-addon"
              (click)="d.toggle()"
              type="button"
            >
              <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
              <span class="fa fa-calendar"></span>
            </button>
          </div>
        </div>
      </fieldset>
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{
          alert.message
        }}</ngb-alert>
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="c('Close click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="addMedicine()">
        Add
      </button>
    </div>
  </ng-template>
</div>
