<div [@routerTransition] class="bg-light">
  <div class="top p-3 d-flex justify-content-between">
    <div>
      <h2 class="text-custom-pink ">
        <small>Hello {{ userData?.nick_name }}!</small>
      </h2>
      <p><small>Have a nice day!</small></p>
    </div>
    <div class="text-center">
      <h2 class="color-dark-primary ">
        <small>{{ time | date: 'hh:mm:ss a' }}</small>
      </h2>
      <p>
        <small>{{ time | date: 'MMM dd yyyy' }}</small>
      </p>
    </div>
  </div>
  <div class="bg-primary-color text-light p-3">
    Upcoming Events
  </div>
  <div class="app-calendar" *ngIf="calendarVisible">
    <full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev, today',
        center: 'title',
        right: 'next'
      }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
    ></full-calendar>
  </div>
</div>
<!-- Add Medicine modal -->

<div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title">Add Medicine</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="c('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <fieldset class="form-group">
        <label>Medicine Name</label>
        <input class="form-control" placeholder="" [(ngModel)]="medName" />
      </fieldset>
      <fieldset class="form-group">
        <label>Quantity</label>
        <input
          class="form-control"
          placeholder=""
          type="number"
          [(ngModel)]="quantity"
        />
      </fieldset>
      <fieldset class="form-group">
        <label>Date</label>
        <div class="form-group">
          <div class="input-group datepicker-input">
            <input
              class="form-control"
              placeholder="Select Date"
              name="dp"
              [(ngModel)]="dateCreated"
              ngbDatepicker
              #d="ngbDatepicker"
              readonly
            />
            <button
              class="input-group-addon"
              (click)="d.toggle()"
              type="button"
            >
              <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
              <span class="fa fa-calendar"></span>
            </button>
          </div>
        </div>
      </fieldset>
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{
          alert.message
        }}</ngb-alert>
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="c('Close click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="addMedicine()">
        Add
      </button>
    </div>
  </ng-template>
</div>
