<div class="top">
  <h2 class="">
    <small>Archived</small>
  </h2>
</div>
<ul class="nav nav-tabs" *ngIf="userRole == 0">
  <li class="nav-item" (click)="tab = 0">
    <a class="nav-link" [ngClass]="{ active: tab == 0 }">Elders</a>
  </li>
  <li class="nav-item" (click)="tab = 1">
    <a class="nav-link" [ngClass]="{ active: tab == 1 }">
      Staff
    </a>
  </li>
</ul>
<div [ngSwitch]="tab">
  <!-- Elders -->
  <div *ngSwitchCase="0" class="p-2">
    <div class="card-header pt-3">
      <input
        type="search"
        class="ml-3 rounded px-2 py-1"
        placeholder="Search"
      />
      <button class="btn btn-light float-right">
        <i class="fa fa-archive mr-2" aria-hidden="true"></i>
        Unarchive
      </button>
    </div>
    <div class="card mb-3">
      <table class="table table-striped">
        <thead class="bg-primary-color text-light">
          <tr>
            <th class="text-center">Full Name</th>
            <th class="text-center">Age</th>
            <th class="text-center">Bed No.</th>
            <th class="text-center">Date Affiliated</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="elderList.length == 0">
            <td colspan="13" class="text-center">No Record</td>
          </tr>
          <tr *ngFor="let elder of elderList">
            <td>
              {{ elder.first_name }} {{ elder.last_name }}
            </td>
            <td class="text-center">{{ elder.age }}</td>
            <td class="text-center">{{ elder.bed_no }}</td>
            <td class="text-center">
              {{ elder.date_stay_in_orphanage }}
            </td>
            <td class="text-center">
              <button
                class="btn bg-transparent"
                (click)="router.navigate(['/elders/details', { id: elder.id }])"
              >
                <i class="fa fa-user " aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Staffs -->
  <div *ngSwitchCase="1" class="p-2">
    <div class="card-header pt-3">
      <input
        type="search"
        class="ml-3 rounded px-2 py-1"
        placeholder="Search"
      />

      <button class="btn btn-light float-right">
        <i class="fa fa-archive mr-2" aria-hidden="true"></i>
        Unarchive
      </button>
    </div>
    <table class="table table-striped">
      <thead class="bg-primary-color text-light">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">User Role</th>
          <th class="text-center">Email</th>
          <th class="text-center">Date Hired</th>
          <th class="text-center">Status</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let staff of staffList">
          <td>{{ staff.first_name }} {{ staff.last_name }}</td>
          <td>{{ getRole(staff.role) }}</td>
          <td class="text-center">{{ staff.email }}</td>
          <td class="text-center">{{ staff.date_hired }}</td>
          <td
            class="text-center"
            [ngClass]="{
              'text-danger': staff.status == 0,
              'text-success': staff.status == 1
            }"
          > {{ staff.status == 0 ? 'Inactive' : 'Active' }}</td>
          <td class="text-center">
            <button
              class="btn bg-transparent"
              (click)="router.navigate(['/staff/details', { id: staff.id }])"
            >
              <i class="fa fa-user ml-3" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="staffList.length == 0">
          <td colspan="13" class="text-center">No Record</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
