<div class="top">
  <h2 class="">
    <small>Archive</small>
  </h2>
</div>
<div class="card-header pt-3 text-right">
  <button class="btn btn-light">
    <i class="fa fa-archive mr-2" aria-hidden="true"></i>
    Unarchive
  </button>
</div>
<table class="table table-striped">
  <tbody>
    <tr>
      <th><input type="checkbox" /></th>
      <th scope="row">1</th>
      <td>Lorem</td>
      <td>lorem Ipsum</td>
      <td>1800</td>
      <td>01-01-2020</td>
    </tr>
    <tr>
      <th><input type="checkbox" /></th>
      <th scope="row">1</th>
      <td>Lorem</td>
      <td>lorem Ipsum</td>
      <td>1800</td>
      <td>01-01-2020</td>
    </tr>
    <tr>
      <th><input type="checkbox" /></th>
      <th scope="row">1</th>
      <td>Lorem</td>
      <td>lorem Ipsum</td>
      <td>1800</td>
      <td>01-01-2020</td>
    </tr>
  </tbody>
</table>
