<div class="top">
  <h2 class="">
    <small>Hospital Information</small>
  </h2>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="card p-4 mb-3">
      <div>
        <button class="btn btn-transparent float-right large border">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <div class="position-relative">
          <img
            src="https://study.com/cimages/videopreview/videopreview-full/7hfyoyse54.jpg"
            alt=""
            class="elder-img"
          />
        </div>
        <div class="elder-name"></div>
      </div>
      <hr />
      <div class="form-group row">
        <label for="" class="col-sm-5 col-form-label">Hospital Name</label>
        <div class="col-sm-7">
          <!-- <label for="" class="col-sm-3 col-form-label">First Name</label> -->
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-5 col-form-label">Address</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-5 col-form-label">Contact Doctors</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-5 col-form-label"
          >Hospital Contact Number</label
        >
        <div class="col-sm-7">
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 right-div">
    <div class="card p-4 mb-3">
      <h5 class="pb-2">
        About
        <button class="btn btn-transparent float-right large border">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </h5>
      <div class="form-group">
        <textarea
          name=""
          id=""
          cols="30"
          rows="5"
          class="form-control"
        ></textarea>
      </div>
    </div>
  </div>
</div>
