$topnav-background-color: #2D7DAC;

.color-dark-primary {
    color: #2D7DAC;
}

.image-icons {
    height: 160px;
    margin: 5px;
}

.bg-primary-color {
    background: $topnav-background-color;
    ;
}

.flex-1 {
    flex: 1;
}