<div class="top">
  <h2 class="">
    <small>Hospital List</small>
  </h2>
</div>
<div class="card-header pt-3">
  <input
    type="search"
    name=""
    id=""
    class="ml-3 rounded px-2 py-1"
    placeholder="Search"
  />
  <button class="btn btn-light float-right">
    <i class="fa fa-plus mr-2" aria-hidden="true"></i> Add
  </button>
  <button class="btn btn-light float-right">
    <i class="fa fa-filter" aria-hidden="true"></i> Filter
  </button>
  <button class="btn btn-light float-right">
    <i class="fa fa-archive mr-2" aria-hidden="true"></i>
    Archive
  </button>
</div>
<div class="card mb-3">
  <table class="table table-striped">
    <thead class="bg-primary-color text-light">
      <tr>
        <th><input type="checkbox" /></th>
        <th>Name</th>
        <th>Addess</th>
        <th>Contact Number</th>
        <th><i class="fa fa-cog ml-3" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr
        [routerLink]="['/hospitals/details']"
        routerLinkActive="router-link-active"
      >
        <th><input type="checkbox" /></th>
        <th scope="row">Lorem Ipsum</th>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti,
          tempora.
        </td>
        <td>09876543210</td>
        <td>
          <button class="btn bg-transparent">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <tr
        [routerLink]="['/hospitals/details']"
        routerLinkActive="router-link-active"
      >
        <th><input type="checkbox" /></th>
        <th scope="row">Lorem Ipsum</th>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti,
          tempora.
        </td>
        <td>09876543210</td>
        <td>
          <button class="btn bg-transparent">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <tr
        [routerLink]="['/hospitals/details']"
        routerLinkActive="router-link-active"
      >
        <th><input type="checkbox" /></th>
        <th scope="row">Lorem Ipsum</th>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti,
          tempora.
        </td>
        <td>09876543210</td>
        <td>
          <button class="btn bg-transparent">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
