<div class="top">
  <hr />
  <h2 class="text-center">
    HOSPITAL LIST
  </h2>
  <hr />
</div>

<div class="card mb-3">
  <table class="table table-striped">
    <thead class="bg-primary-color text-light">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Addess</th>
        <th class="text-center">Contact Number</th>
        <th class="text-center">
          <button
            class="btn bg-transparent"
            (click)="open(content)"
            *ngIf="userRole == 0"
          >
          <i class="fa fa-plus mr-2" aria-hidden="true" *ngIf="userRole == 0"></i>
            Add
    </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex border border-secondary rounded bg-white">
            <div class="flex-1">
              <input
                type="text"
                class="border-0 px-2 py-1 w-100"
                [(ngModel)]="hospital_name"
                (keyup)="filter($event.target.value)"
                placeholder="Search for Hospital Name"
              />
            </div>
            <button class="btn btn-light" (click)="sort('hospital_name')">
              <i class="fa fa-sort" aria-hidden="true"></i>
            </button>
          </div>
        </td>
        <td>
          <div class="btn d-flex border border-secondary rounded bg-white">
            <div class="flex-1">
              <input
                type="text"
                class="border-0 px-2 py-1 w-100"
                [(ngModel)]="address"
                (keyup)="filter($event.target.value)"
                placeholder="Search for Hospital Address"
              />
            </div>
          </div>
        </td>
        <td>
          <div class="btn d-flex border border-secondary rounded bg-white">
            <div class="flex-1">
              <input
                type="text"
                class="border-0 px-2 py-1 w-100"
                [(ngModel)]="hospital_contact_no"
                (keyup)="filter($event.target.value)"
                placeholder="Search for Hospital Contact No."
              />
            </div>
          </div>
        </td>
        <td></td>
      </tr>
      <tr *ngFor="let hospital of hospitalList">
        <th scope="row">{{ hospital.hospital_name }}</th>
        <td>
          {{ hospital.address }}
        </td>
        <td class="text-center">{{ hospital.hospital_contact_no }}</td>
        <td class="text-center">
          <button
            class="btn bg-transparent"
            (click)="
              router.navigate(['/hospitals/details', { id: hospital.id }])
            "
          >
            <i class="fa fa-cog ml-3" aria-hidden="true" *ngIf="userRole == 0"></i>
            <i class="fa fa-eye ml-3" aria-hidden="true" *ngIf="userRole != 0"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="hospitalList.length == 0">
        <td class="text-center p-3" colspan="13">No Record</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title text-center">Add hospital</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="c('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <fieldset class="form-group">
        <label>Name</label>
        <input
          class="form-control"
          placeholder=""
          [(ngModel)]="hospital.hospital_name"
        />
      </fieldset>
      <fieldset class="form-group">
        <label>Contact Number</label>
        <input
          class="form-control"
          placeholder=""
          type="text"
          [(ngModel)]="hospital.hospital_contact_no"
        />
      </fieldset>
      <fieldset class="form-group">
        <label>Address</label>
        <textarea
          class="form-control"
          placeholder=""
          [(ngModel)]="hospital.address"
        ></textarea>
      </fieldset>
      <fieldset class="form-group">
        <label>About</label>
        <textarea
          class="form-control"
          placeholder=""
          [(ngModel)]="hospital.about"
        ></textarea>
      </fieldset>
      <fieldset class="form-group">
        <label>Contact Doctors</label>
        <div class="form-group">
          <label for=""></label>
          <select class="custom-select" [(ngModel)]="docIndex" multiple="">
            <option
              *ngFor="let doctor of doctorList; let i = index"
              [value]="i"
              >{{ doctor.doc_name }}</option
            >
          </select>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label>Sevices Offer</label>
        <div class="form-group">
          <label for=""></label>
          <select class="custom-select" [(ngModel)]="serviceIndex" multiple>
            <option
              *ngFor="let service of serviceList; let i = index"
              [value]="i"
              >{{ service }}</option
            >
          </select>
        </div>
      </fieldset>

      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{
          alert.message
        }}</ngb-alert>
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="c('Close click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="addHospital()">
        Add
      </button>
    </div>
  </ng-template>
</div>
