<div class="top">
  <h2 class="">
    <small>Guest Monitoring</small>
  </h2>
</div>
<div class="card-header pt-3">
  <input
    type="search"
    name=""
    id=""
    class="ml-3 rounded px-2 py-1"
    placeholder="Search"
  />
  <button class="btn btn-light float-right">
    <i class="fa fa-plus mr-2" aria-hidden="true"></i> Add
  </button>
  <button class="btn btn-light float-right">
    <i class="fa fa-filter" aria-hidden="true"></i> Filter
  </button>
  <button class="btn btn-light float-right">
    <i class="fa fa-archive mr-2" aria-hidden="true"></i>
    Archive
  </button>
</div>
<table class="table table-striped">
  <thead class="bg-primary-color text-light">
    <tr>
      <th><input type="checkbox" /></th>
      <th>#</th>
      <th>Guess Name</th>
      <th>Contact #</th>
      <th>Address</th>
      <th>Relationship</th>
      <th>Elders Visited</th>
      <th>Time-in</th>
      <th>Time-out</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><input type="checkbox" /></th>
      <th scope="row">1</th>
      <td>Lorem</td>
      <td>0987654321</td>
      <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
      <td>Lorem</td>
      <td>lorem Ipsum</td>
      <td>10:00 AM</td>
      <td>12:00 PM</td>
      <td>01-01-2020</td>
    </tr>
    <tr>
      <th><input type="checkbox" /></th>
      <th scope="row">1</th>
      <td>Lorem</td>
      <td>0987654321</td>
      <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
      <td>Lorem</td>
      <td>lorem Ipsum</td>
      <td>10:00 AM</td>
      <td>12:00 PM</td>
      <td>01-01-2020</td>
    </tr>
    <tr>
      <th><input type="checkbox" /></th>
      <th scope="row">1</th>
      <td>Lorem</td>
      <td>0987654321</td>
      <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
      <td>Lorem</td>
      <td>lorem Ipsum</td>
      <td>10:00 AM</td>
      <td>12:00 PM</td>
      <td>01-01-2020</td>
    </tr>
  </tbody>
</table>
